.flexcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: antiquewhite;
    gap: 1rem;
    min-height: 200px;
    align-items: center;
    text-align: center;
    width: 200px;
}

.flexitem{
    flex: 1;
    background-color: gold;
    padding: 20px;   
}

.flexitem:nth-child(2){
    flex: 2;
    background-color: blueviolet;
}

.flexitem:nth-child(3){
    flex: 3;
    background-color: deepskyblue;
}

.flexitem:nth-child(4){
    flex: 4;
    background-color: blueviolet;
}

.flexitem:nth-child(5){
    flex: 5;
    background-color: aqua;
}

.flexitem:nth-child(6){
    flex: 6;
    background-color: lime;
}