.flexcontainer{
    display: flex;
    background-color: antiquewhite;
    flex-direction: row;
    justify-content: center;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    min-height: 400px;
    align-items: center;
    gap: 1rem;
}

.flexitem{
    background-color: aqua;
    padding: 20px;
}

.flexitem:nth-child(2){
    background-color: chartreuse;
}

.flexitem:nth-child(3){
    background-color: coral;
}